.video-player {
    width: 100%;
    height: auto;
    max-width: 100%; /* La vidéo ne peut pas dépasser la largeur du parent */
    max-height: 100%; /* La vidéo ne peut pas dépasser la hauteur du parent */
}